.html {
    box-sizing: border-box;
}

.container {
    background-color: #848487;
    margin: auto;
    border: 1px solid;
    display: flex;
}

.link {


}

.ul {
    display:inline-block;
    list-style-type: none;
    margin: 0;
    padding: 1em;
    color: black;
}
.li {
    padding: 1em;
    text-decoration-color: black;
}

.hover {
    color: blue;
}
.a {

}
