* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Work Sans', sans-serif;
}

a  {
    display: inline-block;
}

a.hover {
    color: blue;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em;
}