* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    position: relative;
}
a  {
    text-decoration: none;
}
.alert-info {
    display: flex;
    border: 1px solid #9f9fb0;
    padding: 1em;
    background-color: #b4f0ed;
    justify-content: center;
    align-content: center;
}
h1 {
    display: flex;
    padding: 1em;
    justify-content:center;
    align-content: center;
}
ul {
    justify-content: center;
}
li {
    display: flex;
    padding: 1em;
    margin: 1em;
    background-color: #c6c1d0;
    list-style: none;
    justify-content: center;
}
nav a:hover  {
     color: red;
 }
nav a:active  {
    color: blue;
}

img {
    width: 91%;
    padding: 1em;
}

.main {
    padding: 1em;
}
.sub-section {
    padding: 1em;
}
footer {
    padding: 1em;
}


@media screen and (min-width:600px)  {
    * {
        box-sizing: border-box;
    }
    body  {
        display: flex;
        /*flex-direction: row;*/
        flex-wrap: wrap;
    }
    .alert-info {
         display: none;
     }
    h1 {
        position: absolute;
        height: 50px;
    }
    nav {
        background-color: yellow;
    }
     ul  {
        display:flex;
        padding: 1em;
        justify-content: flex-end;
    }
     li {
         display: flex;
         list-style: none;
     }
    .main {
        padding: 1em;
        background-color: #b4f0ed;
        width: 50%;
        float: left;
    }
    .sub-section  {
        padding: 1em;
        background-color: coral;
        width: 50%;
        float: right;
    }
}
