body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    margin-bottom: 30px;
    border: 25px solid;
    border-radius: 10px;
}
.message-info {
    border-color: lightskyblue;
    color: blue;

}
.message-success {
    border-color: lightgreen;
    color: green;
}
.message-warning {
    border-color: lightgoldenrodyellow;
    color: darkgoldenrod;
}
.message-error {
    border-color: lightpink;
}
div {
    text-decoration-color: blue;
    color: red;
}