body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 15px solid;
    border-radius: 10px;
}
.message-info {
    border-color: lightskyblue;
    color: blue;
}
.message-success {
    border-color: lightgreen;
    color: green;
}
.message-warning {
    border-color: lightgoldenrodyellow;
    color: darkgoldenrod;
}
.message-error {
    border-color: lightpink;
    color: red;
}