.fancy-header {
    color: blue;
    text-align: center;
}

h2 {
    color: coral;
    text-decoration: underline;
}

html {
    background-color: gold;
    background-image: https://www.pexels.com/photo/colorful-mix-of-neon-paints-swirling-on-black-surface-4585185/
}

