.fancy-header {
    color: gold;
    text-align: center;
}

h2 {
    color: mediumblue ;
    text-decoration: seashell;
}

body {
    background-color: gold;
    background-image: url(../img/pexels-pixabay-73873.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family:'Orbitron', sans-serif;
}

body:hover {
    background-color: gold;
    background-image: url(../img/img_5.png);
    background-size: 15%;
    background-repeat: repeat;
    background-position: center;
}

ul li {
    list-style: circle;
    color: gold;
    text-decoration-thickness: auto;
}

ol li {
    list-style-type: upper-roman;
    color: orange;
}

table  {
    color: lawngreen;
    border-collapse: collapse;
    background-color: darkred;
    font-weight: lighter;
}
a:link {
    background-color: purple;
}
a:visited {
    background-color: gold;
}
a:hover {
    background-color: green;
}
a:active {
    background-color: red;
}
